html {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	width: 100%;
	padding: 1em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	background-color: aliceblue;
	display: flex;
	flex-flow: column;
	width: 100%;
	margin: 0;
	height: 100%;
}

.container {
	display: flex;
	flex-flow: column;
	margin: auto;
	padding: 1em;
	width: 80%;
}

main {
	display: flex;
	flex-flow: column;
	width: 100%;
	justify-content: center;
}

aside {
	background-color:#F4F4F4;
	font-size: 1em;
	margin: 2em;
	padding: 1em;
	border-radius: 5px;
	box-shadow: -7px 10px 30px -8px rgba(0,0,0,0.38);
}

.list {
	background-color: ;
	border-radius: 5px;
}

footer {
	display: flex;
	flex-flow: column;
	width: 100%;
}

.contact {
	align-content: center;
	white-space: nowrap;
	width: 100%;
}
